/* Reseta alguns estilos para consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9; /* cor de fundo suave */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: #666;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5c67f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #4a54c6;
}

.message {
  font-size: 18px;
  color: #5c67f2;
  margin-top: 20px;
}

.error {
  color: #e63946;
}

/* Estilo da página protegida */
.protected-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #e0f7ec; /* Verde suave de fundo */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.protected-container h1 {
  font-size: 24px;
  color: #009245; /* Verde do botão */
  margin-bottom: 20px;
}

.protected-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.protected-button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #009245; /* Verde do botão */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.protected-button:hover {
  background-color: #007a36; /* Verde mais escuro para hover */
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}